.dogCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* min-width: 500px; */
    gap:20px;
   
}
.dogCards__dog{
    border-radius: 20px;
    border:3px solid #535bf2;
    max-width: 600px;
    padding :40px; 
}